body {
  font-family: "Poppins", sans-serif;
  background-color: #f5faf6;
  color: #225b42;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0,0,0,0.2);
  border-left: 3px solid #225b42;
  transition: right 0.3s ease;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  gap: 15px;
  float: right;
}
.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
  
}
.sidebar.open {
  right: 0;
}



.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background: #f5faf6;
}

.sidebar-header h2 {
  font-size: 1.2rem;
  color: #225b42;
}

.close-btn {
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 15px;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  text-decoration: none;
  color: #225b42;
  font-size: 1rem;
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.sidebar-menu a:hover {
  background: #e3f3ea;
}

/* ======== OVERLAY ======== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1500;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.excel-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.excel-table th,
.excel-table td {
  border: 1px solid #c6c6c6;
  padding: 8px;
  text-align: left;
}

.excel-table th {
  background-color: #f3f3f3;
  font-weight: bold;
}

.excel-table tr:nth-child(even) {
  background-color: #fafafa;
}

.excel-table tr:hover {
  background-color: #dbe9ff;
}
