.icon {
  left: 100px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
}

        /* Corpo da página */
        .container{
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        /* Contêiner principal */
        #rmDiv, #nomeDiv {
            background-color: #fff;
            padding: 20px 40px;
            margin: 10px 0;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            font-size: 1.5rem;
            text-align: center;
        }

        /* Mensagem de erro ou não encontrado */
        #nomeDiv.error {
            color: red;
        }